<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../js/element/index.css"/>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/element/index.js"></script>

</head>

<body>
    <div id="app" style="width: 80%;margin: auto">
        <table class="table table-bordered">
            <tr>
                <td>赔案编号</td>
                <td>被保险人</td>
                <td>车牌号</td>
                <td>承保机构</td>
                <td>立案时间</td>
            </tr>
            <tr v-for="item in pageList">
                <td>

                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td style="text-align: center" colspan="5">
                    <el-pagination background layout="total,sizes,prev, pager, next,jumper" :total="model.total" :page-size="model.size" :pager-count="model.count" @current-change="getIndex">
                    </el-pagination>
                    </el-pagination>
                </td>
            </tr>
        </table>

    </div>
    <script>
        var vm = new Vue({
            "el": "#app",
            "data": {
                model: {
                    size: 20,
                    count: 11,
                    total: 100,
                },
                pageList: {

                }
            },
            methods: {
                getIndex:function () {
                    
                }
            },

        })
    </script>
</body>

</html>