<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="../js/element/index.css"/>
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/element/index.js"></script>
<script src="../js/vue-resource.js"></script>

<body>
    <!--代理算页面-->
    <div style="width: 80%;margin: auto" id="app">
        <form action="">
            <table class="table table-bordered">
                <tr>
                    <td colspan="2">
                        <label >待理算任务列表</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label >赔案编号</label>
                            <input type="text" class="form-control"  name="compensate_case_id" placeholder="赔案编号:" v-model="condition.compensate_case_id">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label >报案编号</label>
                            <input type="text" class="form-control"  name="report_a_case_id" placeholder="报案编号:" v-model="condition.report_a_case_id">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label >被保险人</label>
                            <input type="text" class="form-control"  name="insured_truename" placeholder="被保险人:" v-model="condition.insured_truename">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label >车牌号</label>
                            <input type="text" class="form-control"  name="car_number" placeholder="车牌号:" v-model="condition.car_number">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form-group">
                            <label >立案时间</label>
                            <input type="text" class="form-control"  name="filing_submit_time" placeholder="立案时间:" v-model="condition.filing_submit_time">
                        </div>
                    </td>
                </tr>
                <tr style="text-align: right">
                    <td colspan="2">
                        <button type="button" class="btn btn-success btn-primary" id="search">查询</button>
                        <button type="button" class="btn btn-primary" v-on:click="advanceModel">垫付理算</button>

                        <button type="button" class="btn btn-primary" v-on:click="compensation">预赔理算</button>
                        <button type="button" class="btn btn-primary" v-on:click="getIntoAdjustment">全面理算</button>
                    </td>
                </tr>
            </table>
        </form>
        <table class="table table-bordered">
            <tr>
                <td>
                    <label >赔案编号</label>
                </td>
                <td>
                    <label >被保险人</label>
                </td>
                <td>
                    <label >报案时间</label>
                </td>
                <td>
                    <label >承保机构</label>
                </td>
            </tr>
            <tr v-for="item in pageList">

            </tr>
            <tr>
                <td colspan="4" style="text-align: center">
                    <el-pagination background layout="prev, pager, next" :total="model.total" :page-size="model.size" :pager-count="model.count" @current-change="getIndex">
                    </el-pagination>
                    </el-pagination>
                </td>
            </tr>
        </table>

        <!--垫付理算-->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" id="advanceModel" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document" style="width:1500px">
                <div class="modal-content" style="width:1500px">
                    <table class="table table-striped">
                        <tr>
                            <td colspan="8">
                                <label  style="color: cornflowerblue">垫付理算</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label f>创建人</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" style="width: 240px" disabled/>
                            </td>
                            <td>
                                <label>创建时间</label>
                            </td>
                            <td colspan="4">
                                <input type="text" class="form-control" style="width: 240px" disabled/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>垫付险种类别</label>
                            </td>
                            <td>
                                <select class="form-control" style="width: 240px" v-model="advanceAdjustment.itemId">
                                    <option>
                                        <label >请选择</label>
                                    </option>
                                    <template v-for="item in typeOfInsurance">
                                        <option  :value="item.insuranceId" >
                                            {{item.insuranceName}}
                                        </option>
                                    </template>
                                </select>
                            </td>
                            <td>
                                <label >垫付金额</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" style="width: 240px" v-model="advanceAdjustment.advancePrice">
                            </td>
                            <td colspan="2">
                                <label >垫付原因</label>
                                <textarea class="form-control" rows="3" v-model="advanceAdjustment.advanceReason"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>计算书说明:</label>
                            </td>
                            <td colspan="7">
                                <textarea class="form-control" rows="5" v-model="advanceAdjustment.advanceDetails"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8">
                                <hr/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label  style="color: cornflowerblue" >其他费用信息</label>
                            </td>
                            <td colspan="2">
                            </td>
                            <td>
                                <label >交强费用合计</label>
                                <input type="text" class="form-control" v-model="crossCostTotal"/>
                            </td>

                            <td>
                                <label >商业费用合计</label>
                                <input type="text" class="form-control" v-model="commerceSurvey"/>
                            </td>
                            <td>
                                <label >总计</label>
                                <input type="text" class="form-control" v-model="sumMoney"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: center" class="success">
                                <label>费用名称</label>
                            </td>
                            <td colspan="2" style="text-align: center" class="success">
                                <label>金额</label>
                            </td>
                            <td colspan="2" class="success">
                                <button type="button" class="btn btn-info" v-on:click="changeInsertOther">新增</button>
                                <button type="button" class="btn btn-danger" v-on:click="resetOther">重置</button>
                            </td>
                        </tr>
                        <tr v-show="insertOther==1">
                            <td colspan="4" style="text-align: right">
                                <select class="form-control"  v-model="otherText">
                                        <option value="商业待查勘费">
                                            商业待查勘费
                                        </option>
                                        <option value="交强待查看费">
                                            交强待查看费
                                        </option>
                                    </select>
                            </td>
                            <td colspan="2" style="text-align: right">
                                <input type="text" class="form-control" v-model="otherMoney">
                            </td>
                            <td colspan="2">
                                <button type="button" class="btn btn-success" role="button" data-toggle="popover" data-trigger="focus" title="提示" data-content="已存在无法添加" v-on:click="insertOtherMoney()" id="element">新增</button>
                                <button type="button" class="btn btn-success" v-on:click="insertOtherMoneyClose()">关闭</button>
                            </td>
                        </tr>
                        <tr v-for="other in otherData">
                            <td colspan="4" style="text-align: center">
                                <label >{{other.name}}</label>
                            </td>
                            <td colspan="2" style="text-align: center">
                                <label  v-if="other.state==1">{{other.price}}</label>
                                <input type="text" v-if="other.state==2" class="form-control" style="width: 200px" v-model="other.price">

                            </td>
                            <td colspan="2">
                                <button type="button" class="btn btn-info" v-on:click="chageSurveyInfo(other.state,other.name)">修改(确定)</button>
                                <button type="button" class="btn btn-danger" v-on:click="deleteSurvey(other.name)">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8" style="text-align: right">
                                <button type="button" class="btn btn-success" v-on:click="commitAdvance()">提交</button>
                                <button type="button" class="btn btn-info">上传文档</button>
                            </td>
                        </tr>
                    </table>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>

            </div>
        </div>
        <!--预赔理算-->
        <div class="modal fade bs-example-modal-lg-budget" tabindex="-1" id="mymodel" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document" style="width: 1200px">
                <div class="modal-content" style="width: 1200px">
                    <table class="table table-condensed">
                        <tr>
                            <td colspan="8">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <label  style="color: cornflowerblue">预赔理算信息</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label >交强合计:</label><input type="text" class="form-control" disabled="true" v-model="motorMoey" style="width: 250px">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label >商业合计:</label><input type="text" class="form-control" disabled="true" v-model="commerceSumMonry" style="width: 250px">
                                </div>
                            </td>
                            <td colspan="2">
                                <div class="form-group">
                                    <label >合计:</label><input type="text" class="form-control" disabled="true" v-model="sumMotorCommerceMone" style="width: 250px">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: center">
                                <label >险种/责任:</label>
                            </td>
                            <td>
                                <label >保险金额（限额）:</label>
                            </td>
                            <td>
                                <label >预赔金额:</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: center">
                                <label >机动车强制三者险:</label>
                            </td>
                            <td>
                                <label ></label>
                            </td>
                            <td>
                                <input type="text" class="form-control" disabled v-model="motorMoey" style="width: 250px">
                            </td>
                        </tr>
                        <tr v-for="item in motorVehicle">
                            <td v-for="i in item" colspan="4" style="text-align: center">
                                <label >{{i.name}}</label>
                            </td>
                            <td v-for="i in item">
                                <label ></label>
                            </td>
                            <td v-for="i in item">
                                <input type="text" class="form-control" v-model="i.value" style="width: 250px">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8">
                                <hr/>
                            </td>
                        </tr>
                        <tr v-if="commercialFlag=1">
                            <td colspan="4" style="text-align: center">
                                <label >商业险:</label>
                            </td>
                            <td>
                                <label ></label>
                            </td>
                            <td>
                                <input type="text" class="form-control" disabled v-model="commerceSumMonry" style="width: 250px">
                            </td>
                        </tr>
                        <tr v-for="item in commerceMoney" v-if="commercialFlag=1">
                            <td v-for="i in item" colspan="4" style="text-align: center">
                                <label >{{i.name}}</label>
                            </td>
                            <td v-for="i in item">
                                <label ></label>
                            </td>
                            <td v-for="i in item">
                                <input type="text" class="form-control" v-model="i.value" style="width: 250px">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8" style="text-align: right">
                                <button type="button" class="btn btn-info" v-on:click="">金额合计</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8" style="text-align: right">
                                <button type="button" class="btn btn-info">上传单证</button>
                                <button type="button" class="btn btn-info" v-on:click="commitPrestressing()">提交</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <!--全面理算-->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" id="comprehensive" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document" style="width:1200px">
                <div class="modal-content" style="width:1200px">
                    <table class="table table-condensed">
                        <tr>
                            <td colspan="7">
                                <label  style="color: cornflowerblue">&nbsp;&nbsp;&nbsp;全面理算</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label >是否全损</label>
                                <select class="form-control" style="width: 150px">
                                    <option>
                                        <label >是</label>
                                    </option>
                                    <option>
                                        <label >否</label>
                                    </option>
                                </select>
                            </td>
                            <td>
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label >事故责任</label>
                                        <select class="form-control" style="width: 150px">
                                                <option>
                                                        <label >同则</label>
                                                </option>
                                                <option>
                                                        <label >全责</label>
                                                </option>
                                                <option>
                                                        <label >他则</label>
                                                </option>
                                            </select>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="text" style="width: 150px" /><label  style="line-height: 30px;font-size: 20px">%</label>
                                    </div>
                                </form>
                            </td>
                            <td colspan="5" style="text-align: left">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label  style="line-height: 30px">三者赔付本车交强赔款</label>
                                        <input class="form-control" type="text" style="width: 150px" />
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label  style="line-height: 30px">新车购置价</label>
                                        <input class="form-control" type="text" style="width: 150px" />
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label  style="line-height: 30px">自负额</label>
                                        <input class="form-control" type="text" style="width: 150px" />
                                    </div>
                                    <div class="form-group">
                                        <label  style="line-height: 30px">残值金额</label>
                                        <input class="form-control" type="text" style="width: 150px" />
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label  style="line-height: 30px">出险时当时的价格</label>
                                        <input class="form-control" type="text" style="width: 150px" />
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>
                    <table class="table table-condensed">
                        <tr>
                            <td>
                                <label >理算信息</label>
                            </td>
                            <td colspan="7" style="text-align: right">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label  style="line-height: 30px">交强合计</label>
                                        <input class="form-control" type="text" style="width: 150px" />
                                    </div>
                                    <div class="form-group">
                                        <label  style="line-height: 30px">商业合计</label>
                                        <input class="form-control" type="text" style="width: 150px" />
                                    </div>
                                    <div class="form-group">
                                        <label  style="line-height: 30px">合计</label>
                                        <input class="form-control" type="text" style="width: 150px" />
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <tr style="text-align: center" class="info">
                            <td>
                                <label >险种/责任</label>
                            </td>
                            <td>
                                <label >保险金额（限额）</label>
                            </td>
                            <td>
                                <label >赔款金额</label>
                            </td>
                        </tr>
                        <tr style="text-align: center">
                            <td>
                                <label >机动车强制三者险</label>
                            </td>
                            <td>
                                <label ></label>
                            </td>
                            <td>
                                <input class="form-control" type="text" disabled/>
                            </td>

                        </tr>
                        <tr v-for="item in comprehensiveMotorVehicle" style="text-align: center">
                            <td>
                                <label >{{item.name}}</label>
                            </td>
                            <td>
                                <label ></label>
                            </td>
                            <td>
                                <input class="form-control" type="text" v-model="item.value" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr/>
                            </td>
                        </tr>
                        <tr style="text-align: center">
                            <td>
                                <label >商业险</label>
                            </td>
                            <td>
                                <label ></label>
                            </td>
                            <td>
                                <input class="form-control" type="text" disabled/>
                            </td>
                        </tr>
                        <tr v-if="commercialFlag==1" v-for="item in comprehensiveCommercial" style="text-align: center">
                            <td>
                                <label >{{item.name}}</label>
                            </td>
                            <td>
                                <label ></label>
                            </td>
                            <td>
                                <input class="form-control" type="text" v-model="item.value" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8" style="text-align: right">
                                <button type="button" class="btn btn-primary" v-on:click="totalAmout">金额合计</button>
                            </td>
                        </tr>
                    </table>
                    <table class="table table-striped">
                        <tr>
                            <td>

                            </td>
                            <td colspan="6">
                                <label  style="color: cornflowerblue">其他费用信息</label>
                            </td>
                            <td colspan="4" style="text-align: right">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label >交强费用合计:</label><input type="text" class="form-control" disabled="true">
                                    </div>
                                    <div class="form-group">
                                        <label >商业费用合计:</label><input type="text" class="form-control" disabled="true">
                                    </div>
                                    <div class="form-group">
                                        <label >合计:</label><input type="text" class="form-control" disabled="true">
                                    </div>
                                </form>
                            </td>
                            <td colspan="2">

                            </td>

                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td colspan="6" style="text-align: center">
                                <label >费用名称</label>
                            </td>
                            <td colspan="4" style="text-align: center">
                                <label >金额</label>
                            </td>
                            <td colspan="2">
                                <label >操作</label>
                                <button type="button" class="btn btn-info" v-on:click="changeInsertOther">新增</button>
                                <button type="button" class="btn btn-info" v-on:click="resetOther">重置</button>
                            </td>

                        </tr>
                        <tr v-show="insertOther==1">
                            <td>

                            </td>
                            <td colspan="6" style="text-align: center">
                                <select class="form-control" id="surveyFee" v-model="otherText">
                                            <option value="商业待查勘费">
                                                商业待查勘费
                                            </option>
                                            <option value="交强待查看费">
                                                交强待查看费
                                            </option>
                                        </select>
                            </td>
                            <td colspan="4" style="text-align: center">
                                <input type="text" class="form-control" v-model="otherMoney">
                            </td>
                            <td colspan="2" style="text-align: center">
                                <button type="button" class="btn btn-success" role="button" data-toggle="popover" data-trigger="focus" title="提示" data-content="已存在无法添加" v-on:click="insertOtherMoney()" id="element">新增</button>
                                <button type="button" class="btn btn-success" v-on:click="insertOtherMoneyClose()">关闭</button>
                            </td>
                        </tr>
                        <tr v-for="other in otherData">
                            <td>

                            </td>
                            <td colspan="6" style="text-align: center">
                                <label >{{other.name}}</label>
                            </td>
                            <td colspan="4" style="text-align: center">
                                <label  v-if="other.state==1">{{other.price}}</label>
                                <input type="text" v-if="other.state==2" class="form-control" style="width: 200px" v-model="other.price">

                            </td>
                            <td colspan="2">
                                <button type="button" class="btn btn-info" v-on:click="chageSurveyInfo(other.state,other.name)">修改(确定)</button>
                                <button type="button" class="btn btn-danger" v-on:click="deleteSurvey(other.name)">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" style="text-align: right">
                                <button type="button" class="btn btn-success">提交</button>
                                <button type="button" class="btn btn-info">上传文档</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <script src="../js/agencyCalculation.js"></script>

</body>

</html>