<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.dao.ComprehensiveAdjustmentVerifyMapper" >
  <resultMap id="BaseResultMap" type="org.java.entity.ComprehensiveAdjustmentVerify" >
    <id column="verify_id" property="verifyId" jdbcType="VARCHAR" />
    <result column="emp_id" property="empId" jdbcType="VARCHAR" />
    <result column="verify_time" property="verifyTime" jdbcType="TIMESTAMP" />
    <result column="is_adopt" property="isAdopt" jdbcType="VARCHAR" />
    <result column="verify_comment" property="verifyComment" jdbcType="VARCHAR" />
    <result column="adjustment_id" property="adjustmentId" jdbcType="VARCHAR" />
    <result column="cross_strength_sum" property="crossStrengthSum" jdbcType="DOUBLE" />
    <result column="business_sum" property="businessSum" jdbcType="DOUBLE" />
    <result column="sum" property="sum" jdbcType="DOUBLE" />
    <result column="instance_id" property="instanceId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    verify_id, emp_id, verify_time, is_adopt, verify_comment, adjustment_id, cross_strength_sum, 
    business_sum, sum, instance_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from comprehensive_adjustment_verify
    where verify_id = #{verifyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from comprehensive_adjustment_verify
    where verify_id = #{verifyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.java.entity.ComprehensiveAdjustmentVerify" >
    insert into comprehensive_adjustment_verify (verify_id, emp_id, verify_time, 
      is_adopt, verify_comment, adjustment_id, 
      cross_strength_sum, business_sum, sum, 
      instance_id)
    values (#{verifyId,jdbcType=VARCHAR}, #{empId,jdbcType=VARCHAR}, #{verifyTime,jdbcType=TIMESTAMP}, 
      #{isAdopt,jdbcType=VARCHAR}, #{verifyComment,jdbcType=VARCHAR}, #{adjustmentId,jdbcType=VARCHAR}, 
      #{crossStrengthSum,jdbcType=DOUBLE}, #{businessSum,jdbcType=DOUBLE}, #{sum,jdbcType=DOUBLE}, 
      #{instanceId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.java.entity.ComprehensiveAdjustmentVerify" >
    insert into comprehensive_adjustment_verify
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="verifyId != null" >
        verify_id,
      </if>
      <if test="empId != null" >
        emp_id,
      </if>
      <if test="verifyTime != null" >
        verify_time,
      </if>
      <if test="isAdopt != null" >
        is_adopt,
      </if>
      <if test="verifyComment != null" >
        verify_comment,
      </if>
      <if test="adjustmentId != null" >
        adjustment_id,
      </if>
      <if test="crossStrengthSum != null" >
        cross_strength_sum,
      </if>
      <if test="businessSum != null" >
        business_sum,
      </if>
      <if test="sum != null" >
        sum,
      </if>
      <if test="instanceId != null" >
        instance_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="verifyId != null" >
        #{verifyId,jdbcType=VARCHAR},
      </if>
      <if test="empId != null" >
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="verifyTime != null" >
        #{verifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isAdopt != null" >
        #{isAdopt,jdbcType=VARCHAR},
      </if>
      <if test="verifyComment != null" >
        #{verifyComment,jdbcType=VARCHAR},
      </if>
      <if test="adjustmentId != null" >
        #{adjustmentId,jdbcType=VARCHAR},
      </if>
      <if test="crossStrengthSum != null" >
        #{crossStrengthSum,jdbcType=DOUBLE},
      </if>
      <if test="businessSum != null" >
        #{businessSum,jdbcType=DOUBLE},
      </if>
      <if test="sum != null" >
        #{sum,jdbcType=DOUBLE},
      </if>
      <if test="instanceId != null" >
        #{instanceId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.java.entity.ComprehensiveAdjustmentVerify" >
    update comprehensive_adjustment_verify
    <set >
      <if test="empId != null" >
        emp_id = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="verifyTime != null" >
        verify_time = #{verifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isAdopt != null" >
        is_adopt = #{isAdopt,jdbcType=VARCHAR},
      </if>
      <if test="verifyComment != null" >
        verify_comment = #{verifyComment,jdbcType=VARCHAR},
      </if>
      <if test="adjustmentId != null" >
        adjustment_id = #{adjustmentId,jdbcType=VARCHAR},
      </if>
      <if test="crossStrengthSum != null" >
        cross_strength_sum = #{crossStrengthSum,jdbcType=DOUBLE},
      </if>
      <if test="businessSum != null" >
        business_sum = #{businessSum,jdbcType=DOUBLE},
      </if>
      <if test="sum != null" >
        sum = #{sum,jdbcType=DOUBLE},
      </if>
      <if test="instanceId != null" >
        instance_id = #{instanceId,jdbcType=VARCHAR},
      </if>
    </set>
    where verify_id = #{verifyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.java.entity.ComprehensiveAdjustmentVerify" >
    update comprehensive_adjustment_verify
    set emp_id = #{empId,jdbcType=VARCHAR},
      verify_time = #{verifyTime,jdbcType=TIMESTAMP},
      is_adopt = #{isAdopt,jdbcType=VARCHAR},
      verify_comment = #{verifyComment,jdbcType=VARCHAR},
      adjustment_id = #{adjustmentId,jdbcType=VARCHAR},
      cross_strength_sum = #{crossStrengthSum,jdbcType=DOUBLE},
      business_sum = #{businessSum,jdbcType=DOUBLE},
      sum = #{sum,jdbcType=DOUBLE},
      instance_id = #{instanceId,jdbcType=VARCHAR}
    where verify_id = #{verifyId,jdbcType=VARCHAR}
  </update>
</mapper>